<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942186077422-6v60r4274gv5ki8dcur82prln543tagl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942186077422-6v60r4274gv5ki8dcur82prln543tagl</string>
	<key>API_KEY</key>
	<string>AIzaSyC88qXvAThyYyWnQuqU5EiZyJ5w066sVqk</string>
	<key>GCM_SENDER_ID</key>
	<string>942186077422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Miguel.Los-Portales-Ordering</string>
	<key>PROJECT_ID</key>
	<string>los-portales-ordering</string>
	<key>STORAGE_BUCKET</key>
	<string>los-portales-ordering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942186077422:ios:01620aa3a010906d0927ff</string>
</dict>
</plist>